$colorLight: rgba(0, 0, 0, 0.45);
$colorE5: #e5e5e5;
$colorF5: #f5f5f5;
$colorF7: #f7f7f7;
$colorBlue: #1b9aee;
.color-light {
  color: $colorLight;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
