@font-face {
  font-family: 'iconfont'; /* Project id 2253775 */
  src: url('iconfont.woff2?t=1624630204188') format('woff2'), url('iconfont.woff?t=1624630204188') format('woff'),
    url('iconfont.ttf?t=1624630204188') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: '\e60e';
}

.icon-yinle:before {
  content: '\f28c';
}

.icon-xiaoxi:before {
  content: '\e601';
}

.icon-icon--:before {
  content: '\e749';
}

.icon-tongzhi:before {
  content: '\e771';
}

.icon-xinfeng:before {
  content: '\e642';
}

.icon-lingdang-xianxing:before {
  content: '\e8c0';
}

.icon-duoren1:before {
  content: '\e666';
}

.icon-shouji:before {
  content: '\e617';
}

.icon-yanzhengma:before {
  content: '\e6c0';
}

.icon-youxiang:before {
  content: '\e6cb';
}

.icon-view:before {
  content: '\e6b4';
}

.icon-view-off:before {
  content: '\e697';
}

.icon-suo:before {
  content: '\e60c';
}

.icon-ren1:before {
  content: '\e63d';
}

.icon-ren:before {
  content: '\e62e';
}

.icon-role:before {
  content: '\e6bf';
}

.icon-caidan1:before {
  content: '\e610';
}

.icon-jiekou:before {
  content: '\e669';
}

.icon-gongzuotai-moren:before {
  content: '\e6f7';
}

.icon-github-square:before {
  content: '\e6a4';
}

.icon-github-fill:before {
  content: '\eac8';
}

.icon-xiazai:before {
  content: '\e66a';
}

.icon-quxiaolianjie:before {
  content: '\ec80';
}

.icon-xuanzhong2:before {
  content: '\e611';
}

.icon-fangxing1:before {
  content: '\e6b0';
}

.icon-emoji:before {
  content: '\e602';
}

.icon-lingdao:before {
  content: '\e616';
}

.icon-zanwu:before {
  content: '\e605';
}

.icon-qiyong:before {
  content: '\e743';
}

.icon-xuqiu:before {
  content: '\e6e4';
}

.icon-fujian:before {
  content: '\e6f5';
}

.icon-zan:before {
  content: '\e600';
}

.icon-fujian1:before {
  content: '\e641';
}

.icon-lianjie:before {
  content: '\e623';
}

.icon-i:before {
  content: '\e60f';
}

.icon-partial:before {
  content: '\e6a3';
}

.icon-quxiao:before {
  content: '\e6cf';
}

.icon-xuanzhong:before {
  content: '\e634';
}

.icon-bufenchenggong:before {
  content: '\e6ae';
}

.icon-bufentongji:before {
  content: '\e646';
}

.icon-shandianfahuo:before {
  content: '\e633';
}

.icon-renwuzuguanli:before {
  content: '\e604';
}

.icon-bumen:before {
  content: '\e686';
}

.icon-bianji:before {
  content: '\e63c';
}

.icon-tuandui:before {
  content: '\e62f';
}

.icon-bianji1:before {
  content: '\e639';
}

.icon-tishi:before {
  content: '\e661';
}

.icon-gengduo-2:before {
  content: '\e615';
}

.icon-jiaren:before {
  content: '\e614';
}

.icon-icon-test:before {
  content: '\e632';
}

.icon-dustbin_icon:before {
  content: '\e659';
}

.icon-chilunshezhi:before {
  content: '\e603';
}

.icon-weimingmingwenjianjia_gongzuotai:before {
  content: '\e63e';
}

.icon-ren-jianshao:before {
  content: '\e705';
}

.icon-renshu:before {
  content: '\e70e';
}

.icon-jia:before {
  content: '\e640';
}

.icon-xiangmu:before {
  content: '\e69d';
}

.icon-duoren:before {
  content: '\e6c9';
}

.icon-heimingdan:before {
  content: '\e637';
}
